body {
  line-height: 2.0;
}

.organization {
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: -50px;
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    
    padding: 2rem;
    background-color: #0f121c;
  }

  .section img {
    max-width: 60%;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 60px;
  }

  p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    justify-content: left;
    align: left;
  }

  h1 {
    margin-top: 100px;
  }

  .side-by-side-img {
    display: flex;
    justify-content: center;
  }

  .link a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
  }
