body {
  line-height: 1.3;
  margin: 0;
  background-color: #0f121c;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.project {
  width: calc(50% - 1rem);
  max-width: 500px;
  flex: 1 1 45%;
  margin: 2rem;
  transition: transform 0.3s ease;
  text-align: left; /* Left-aligned text */
  background-color: #1a1d2b;
  border-radius: 8px;
  padding: 2rem;
}

.project img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  transition: filter 0.5s;
}

.project:hover {
  transform: scale(1.05);
}

.project p, .project h3, .project h2 {
  margin: 0.5rem 0;
}

.project h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.image:hover {
  filter: brightness(60%);
}

/* Responsive Design for Mobile View */
@media (max-width: 768px) {
  .project {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }

  .project h2 {
    font-size: 1.5rem;
  }

  .project img {
    height: 200px;
  }
}
